body {
    
}
.info_box_container{
	display:flex;
	
}

.info_box {
    background-color: white; /* White background for each box */
    border: 2px solid black; /* black border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 70%; /* Fixed width for consistency */
	text-align: center;
	margin-top: 15px;
	justify-content: center; /* Center horizontally */
    
	
}

.header_box {
    margin: 0;
    font-size: 24px; /* Font size for headings */
    color: black; /* blacktext color */

}

p {
    margin: 10px 0 0 0; /* Margin for the paragraph */
    font-size: 16px; /* Font size for paragraph text */
    color: #333; /* Dark gray text color */
}